/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	color: red;
}

/* CSS Document */
* {
	padding: 0;
	margin: 0;
	border: 0;
}


/* Fonts */

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.eot');
	src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Raleway-Medium.woff2') format('woff2'),
			url('../fonts/Raleway-Medium.woff') format('woff'),
			url('../fonts/Raleway-Medium.ttf') format('truetype'),
			url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-MediumItalic.eot');
	src: url('../fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Raleway-MediumItalic.woff2') format('woff2'),
			url('../fonts/Raleway-MediumItalic.woff') format('woff'),
			url('../fonts/Raleway-MediumItalic.ttf') format('truetype'),
			url('../fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Light.eot');
	src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Raleway-Light.woff2') format('woff2'),
			url('../fonts/Raleway-Light.woff') format('woff'),
			url('../fonts/Raleway-Light.ttf') format('truetype'),
			url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-LightItalic.eot');
	src: url('../fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Raleway-LightItalic.woff2') format('woff2'),
			url('../fonts/Raleway-LightItalic.woff') format('woff'),
			url('../fonts/Raleway-LightItalic.ttf') format('truetype'),
			url('../fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Regular.eot');
	src: url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
			url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
			url('../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Bold.eot');
	src: url('../fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
			url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
			url('../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Italic.eot');
	src: url('../fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-Italic.woff') format('woff'),
			url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
			url('../fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-BoldItalic.eot');
	src: url('../fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
			url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
			url('../fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
			url('../fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

/* MOBILE  */

.html {
	color: white;
	font-size: 14px;
	width: 100%;
}


/***HEADER STYLES***/

.top-view {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
}

.banner-view{
	order: 1;
}

.aloha img{
	width: 2.5rem;
	min-width: 150px;
	padding: 10px;
	
}

.navbar{
	order: 3;
	flex: 0 0 100%;
}

.cart-logo {
	order: 2;
}

.banner-view img {
	width: 6.25rem;
}

.cart-logo img {
	width: 2.5rem;
}

.cart-logo img, .banner-view img {
	margin: 0.4375rem;
}

nav li {
	display: inline-block;
	padding: 0.21428571428rem 0;
}

nav ul a {
	 font-size: 0.6875rem;
	 text-transform: uppercase;
	 color: #e2574c;
	 font-family: 'Raleway';
   font-weight: bold;
   font-style: normal;
}

nav ul {
	display: flex;
	justify-content: space-around;
	padding-left: 0;
	margin: 0.3125rem 0.9375rem;
	border-top: 0.07142857142rem solid #d7d7d7;
}

nav ul a:hover {
	color: #b64036;
}


.cart-logo img{
  width: 2vw;
  min-width: 50px;
  padding-right: 10px;
	float: right;
}


/*** Banner section styles***/

.banner{
	background-image: linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2)), 
	url(img/banner-girl.png) no-repeat center 60px, url(img/flower-bkgd.jpg) no-repeat center bottom;
	background-size: cover, 40%, cover;
  justify-content: center;	
	max-width: 100%;
}


.banner h2{
	font-size: 1.1rem;
	font-family: 'Raleway';
	font-weight: 500;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 3px rgb(59, 59, 59);
	padding-top: 150px;
	margin: 0px;

}

.banner h1 {
	  font-size: 2.5rem;
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgb(59, 59, 59);
    padding: 10px 50px 130px 50px;
	
}


/*Gallery Styles*/

.hand-crafted {
	width: 100%;
	min-width: 40vh;
	padding-bottom: 40px;
	text-align: center;
}
.hand-crafted h1 {
	font-family: 'Playfair Display';
	font-weight: bold;
	font-style: normal;
	color: #2d2d2d;
	font-size: 2.3rem;
	padding: 50px 40px 10px 40px;
}   
.hand-crafted p {
	font-size: 1rem;
	font-family: 'Raleway';
	font-weight: 300;
	font-style: normal;
	color: #2d2d2d;
	padding: 25px;
	line-height: 2rem;
}
.italic {
	font-family: 'Playfair Display';
	font-weight: normal;
	font-style: italic;
}


.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%; 
	background-color: white;
}
.container div:hover {
	color: bisque;
}
.container div {
	box-sizing: border-box;
	background-size: cover;
	font-family: sans-serif;
	font-size: 1.8rem;
	color: white;
	text-shadow: 1px 1px 3px black;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}
.mens {
	background: linear-gradient(0deg, rgba(61,61,61,0.3) 0%, rgba(61, 61, 61, 0.3) 100%),
	url(images/mens-category.jpg) no-repeat;
	border-bottom: 3px solid white;
	width: 100vw;
	height: 50vw;

	}
.trends {
	background: linear-gradient(0deg, rgba(61,61,61,0.3) 0%, rgba(61, 61, 61, 0.3) 100%),
	url(images/trends-category.jpg)no-repeat;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
	width: 50vw;
	height: 50vw;
	}
.glasses {
	background: linear-gradient(0deg, rgba(61,61,61,0.3) 0%, rgba(61, 61, 61, 0.3) 100%),
	url(images/glasses-category.jpg) no-repeat;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	width: 50vw;
	height: 50vw;
}
.sale {
	background: linear-gradient(0deg, rgba(61,61,61,0.3) 0%, rgba(61, 61, 61, 0.3) 100%),
	url(images/sale-category.jpg) no-repeat;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
	width: 50vw;
	height: 50vw;
}
.bags {
	background: linear-gradient(0deg, rgba(61,61,61,0.3) 0%, rgba(61, 61, 61, 0.3) 100%),
	url(images/bags-category.jpg) no-repeat;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	text-transform: uppercase;
	width: 50vw;
	height: 50vw;
}
.womens {
	background: linear-gradient(0deg, rgba(61,61,61,0.3) 0%, rgba(61, 61, 61, 0.3) 100%),
	url(images/womens-category.jpg) no-repeat;
	border-top: 3px solid white;
	width: 100vw;
	height: 50vw;
}


.featured {
	width: 100%;
	text-align: center;
	margin: 3.57142857143rem 0;
}
.featured h1 {
	font-family: 'Playfair Display', 'Times New Roman', Times, serif;
	font-weight: 600;
	font-style: normal;
	color: #2d2d2d;
	font-size: 2.3rem;
	padding: 70px 40px 40px 40px;
}   
.italic {
	font-family: 'Playfair Display';
	font-weight: normal;
	font-style: italic;
}


.products {
	padding-bottom: 50px;
}

.main-carousel {
	text-align: center;
}

.carousel-cell {
	width: 100%;
}

.carousel-cell p{
	  color: grey;
	  font-family: 'Raleway';
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.71428571428rem;
}


.item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.products p{
	font-family: 'Raleway';
	font-weight: bold;
	text-align: center;
	font-size: 0.8rem;
	color: #969696;
	padding: 20px 10px 10px 10px;
}

.products h3 {
	font-family: 'Playfair Display', 'Times New Roman', Times, serif;
	font-size: 1.5rem;
	font-weight: 300;
	font-style: normal;
	color: #e2574c;
}


.sign-up {
	background: linear-gradient(0deg, rgba(61,61,61,0.3) 0%, rgba(61, 61, 61, 0.3) 100%),
	url(../images/wave-bkgd.jpg) bottom;
	width: 100%;
	text-align: center;
	color: white;
	padding-top: 42px;
	padding-bottom: 55px;
	overflow: auto;
}

form {
	background-color: white;
	display: inline-block;
	padding: 4px 4px 4px 24px;
	border-radius: 30px;
	align-items: center;
}
.email-box{
	color: #969696;
	height: 24px;
	width: 180px;
	font-size: 1rem;
}
.email-box:focus {
	outline: none;
}
.subscribe-button {
	color: white;
	background-color: #e2574c;
	font-size: 1rem;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-style: normal;
	border-radius: 20px;
	height: 40px;
	padding: 0px 24px;
}
.subscribe-button:focus {
	outline: none;
}
.sign-up h1 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 2.5rem;
	text-shadow: 1px 1px 3px grey;
	padding-bottom: 10px;

}   
.sign-up p {
	font-size: 1rem;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-style: normal;
	padding: 10px 10px 30px 10px;
	line-height: 2rem; 
}
.italic {
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
}


footer {
	background-color: #242424;
	color: #ffffff;
	height: auto;
	margin-top: 8px;
	display: flex;
	flex-direction: column;
}
.footer-text {
	font-family: 'Playfair Display', 'Times New Roman', Times, serif;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	padding-top: 40px;
}
address {
	color: grey;    
	font-family: 'Playfair Display', 'Times New Roman', Times, serif;
	font-weight: normal;
	font-style: normal; 
}
.social-media {
	padding: 20px;
}
.social-media li {
	padding: 10px;  
}
.social-media a {
	display: none;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	font-size: 0.8rem;
	font-weight: 500;
	font-style: normal;
}
.social-media li:before {
	width: 1.3em;
	padding: 6px;
}
.social-media ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.facebook:before {
	content: '\f39e';
	font-family: 'Font Awesome 5 Brands';
}
.twitter::before {
	content: '\f099';
	font-family: 'Font Awesome 5 Brands';
}
.instagram:before {
	content: '\f16d';
	font-family: 'Font Awesome 5 Brands';
}
.pinterest:before {
	content: '\f231';
	font-family: 'Font Awesome 5 Brands';
}
.google:before {
	content: '\f0d5';
	font-family: 'Font Awesome 5 Brands';
}

/*------------------------------ Breakpoints -----------------------------------*/

@media only screen and (min-width: 480px) {
   .carousel{
		display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
	 }

}


@media all and (min-width: 600px) {

.html {
	color: white;
	font-size: 16px;
	width: 100%;
}

.carousel-cell {
	width: 50%;
}


/* Top Nav Bar */

.navbar {
	order: 2;
	flex: initial;
}

nav ul {
	border-top: initial;
}

nav li {
	padding: 0px 1.5625rem;
}


.banner {
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/banner-girl.png),  url(../images/flower-bkgd.jpg); 
	background-repeat: no-repeat;
	background-position-y: center, 3.21428571429rem, center; 
	background-position-x: center, center, center;
	background-size: cover, 9rem, cover;
	padding: 7.125rem 0;
	max-width: 100%;
	display: block;
  justify-content: center;
  text-shadow: 0 0 0.42857142857rem black;	
}


.container{
	display: flex;
	flex-wrap: wrap;
	width: 100%; 
	background-color: white;
}
.container div {
	box-sizing: border-box;
	background-size: cover;
	font-family: sans-serif;
	font-size: 1.8rem;
	color: white;
	text-shadow: 1px 1px 3px black;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}
.mens {
	width: 50vw;
	height: 25vw;
	border-right: 3px solid white;
}
.trends {
	width: 25vw;
	height: 25vw;
	border-top: 1px solid white;
	border-left: 3px solid white;
}
.glasses {
	width: 25vw;
	height: 25vw;
	border-top: 1px solid white;
}
.sale {
	width: 25vw;
	height: 25vw;
}
.bags {
	width: 25vw;
	height: 25vw;
	border-right: 3px solid white;
}
.womens {
	width: 50vw;
	height: 25vw;
	border-left: 3px solid white;
	border-bottom: 3px solid white;
}


.featured h1 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 2.5rem;
	padding: 60px 40px 40px 40px;
}   


.carousel-cell {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}


.sign-up p {
	padding: 10px 40px 40px 40px;
}


footer {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.footer-text {
	text-align: left;
	padding: 40px 0px 70px 20px;

}
address {
	color: grey;    
}
.social-media {
	padding: 40px 20px 70px 20px;
	display: block;
	flex-direction: column;
}
.social-media ul{
	display: flex;
	flex-direction: column;
}
.social-media li {
	padding: 2px;
	display: inline-flex;
}
.social-media a {
	display: flex;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 300;
	font-style: normal;
	line-height: 1.5;
	color: #fff;
}  

}

@media all and (min-width: 1240px) {
	.banner img {
		width: 10.625rem;
	}

	.cart-logo {
		width: 10%;
	}
	.aloha {
		width: 7%;
	}
	nav ul a {
		font-size: 0.9375rem;
	}
	.header {
		position: fixed;
	}

	.carousel-cell {
		width: 24%;
		height: 29.375rem;
		margin-right: 0.625rem;
		border-radius: 0.3125rem;
		counter-increment: carousel-cell;
}

.carousel-cell:before {
	line-height: 12.5rem;
	font-size: 5rem;
	color: white;
}
	
}
	
	.banner {
		background: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%), 
	url(../images/banner-girl.png) no-repeat center 38px, url(../images/flower-bkgd.jpg) no-repeat center bottom;
	background-size: 100%, 25%;
	justify-content: center;
	max-width: 100%;
	}
	.banner h2 {
		font-size: 1.5rem;
		font-family: 'Raleway';
		font-weight: 500;
		text-align: center;
		color: white;
		text-shadow: 1px 1px 3px rgb(59, 59, 59);
		padding-top: 280px;
		margin: 0px;
	}

	.banner h1 {
		font-size: 4rem;
		font-family: 'Playfair Display', 'Times New Roman', Times, serif;
		font-weight: normal;
		font-style: normal;
		text-align: center;
		color: white;
		text-shadow: 1px 1px 3px rgb(59, 59, 59);
		padding: 10px 50px 130px 50px;
	}
	
	
	 .flickity-enabled.is-draggable .flickity-viewport {
		cursor: move;
		cursor: -webkit-grab;
		cursor: grab;
	  height: 30.3125rem;
		touch-action: pan-y;
}